<form action="/chain/block/mine" method="post">
    <input type="hidden" name="_csrf_token" value="<%= Plug.CSRFProtection.get_csrf_token() %>">
    <input type="text" name="user">
    <input type="submit">
</form>
